.container{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    margin: 10px;
    color: white;
    padding: 20px;
}