.alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
  color: white;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.alert-danger{
  background-color: rgb(255, 66, 66);
}
.alert-primary{
  background-color: rgb(66, 164, 255);
}
